<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
    <a href="/" class="navbar-brand">All About Food</a>
  </div>

</nav>

<img class="backgound-login" src="/images/salmon.jpg" />

{{! <img class="pensil" src="/images/pensil.png" alt="">
  <h2>Log</h2>
  <h2>In</h2> }}

<div class="login-body">

  <div class="login-form">

    <form action="/auth/login" method="POST">

      <p>Username</p>
      <input type="text" name="username" placeholder="Your username" />

      <p>Email</p>
      <input type="email" name="email" placeholder="Your email" />

      <p>Password</p>
      <input type="password" name="password" placeholder="Your password" />

      <button type="submit">Log In</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</div>