<img class="backgound-img" src="/images/nuts.jpg" />

<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
    <a href="/" class="navbar-brand">All About Food</a>
  </div>

</nav>



{{! <img class="pensil" src="/images/pensil.png" alt="">
  <h2>Log</h2>
  <h2>In</h2> }}

<div class="login-body">

  <div class="login-form">

    <form action="/auth/signup" method="POST">

      <p class="login-input">Username</p>
      <input type="text" name="username" placeholder="Your username" />

      <p class="login-input">Email</p>
      <input type="email" name="email" placeholder="Your email" />

      <p class="login-input">Password</p>
      <input type="password" name="password" placeholder="Your password" />
      <br>
      <br>
      <button class="editRecipesButton" type="submit">Sign Up</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</div>