<img class="backgound-img" src="/images/vegetables.jpg" />
<nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"><img class="logoImg" src="/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
        <a class="nav-link" href="/blog">Blog</a>
        
          {{#unless currentUser}}
    
        <a class="nav-link" href="/auth/login">Login</a>      
    
          {{/unless}}

          {{#if currentUser}}
    
        <a class="nav-link" href="/profile">User{{user}}</a>      
    
          {{/if}}        
      </div>
        </div>
      </div>
    </nav>
<div class="blog">

<div class="blogImg">
<img src="/images/blog1.png" alt="blog1">
{{!-- <img src="/images/blog2.png" alt="blog2">
<img src="/images/blog3.png" alt="blog3">
<img src="/images/blog4.png" alt="blog 4"> --}}
</div>
</div>

