<img src="" alt="">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">All About Food</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/blog">Blog</a>
        <a class="nav-link" href="/genarator">Genarator</a>
        <a class="nav-link" href="/auth/login">Login</a>
        <a class="nav-link" href="/auth/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item active" data-bs-interval="1500">
      <img src="/images/salmon.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/avocato.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/carrots.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/seeds.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/soup.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/tomatos.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/sardine.jpg" class="d-block w-100"/>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/images/nuts.jpg" class="d-block w-100"/>
    </div>

  </div>

</div>

<div class="random-recipe">

  <div class="card">
    <img src="https://spoonacular.com/recipeImages/716429-312x231.jpg" class="card-img-top"/>

    <div class="card-body">
      <h5 class="card-title">Recipe title</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Save Recipe</a>
    </div>
  </div>

</div>