<img class="backgound-img" src="/images/avocato.jpg" />



<div class="editRecipe">

<div class="text">
<br>
<h1 class="textTitle"> Edit Recipe</h1>

  <div class='col-md-6'>
    <form action='/edit/{{_id}}' method='post' enctype='multipart/form-data'>
      <div class='form-group'>
        <label for='title' class='form-label'>Title:</label>
        <input type='text' name='title'value={{title}} class='form-control' id='title' />
      </div>
      <br>
      <div class='form-group'>
        <label for='instructions' class='form-label'>Summary:</label>
        <textarea
          class='form-control'
          name='instructions'
          id='instructions'
          cols='30'
          rows='10'
        > {{summary}}</textarea>
      </div>
      <br>
      <div class='form-group'>
        <label>Image:
          <input type='file' name='poster' class='form-control-file' />
        </label>
      </div>
      <br>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  </div>
</div>
</div>