<img class="backgound-login" src="/images/sardine.jpg" />


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><img class="logoImg" src="/images/logo.png"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/blog">Blog</a> 
        <a class="nav-link" href="/profile">User</a>       
      </div>
    </div>
  </div>
</nav>


<div class="myRecipes">
<h2>My Recipies </h2>

{{#each recipe}}
<div class="card genCard">

{{title}}

{{instructions}}
<a href="/edit/{{_id}}"> EDIT </a>
<form action='/delete/{{_id}}' method='post'><button type="submit">Delete Recipies</button></form>
</div>
{{/each}}

</div>